<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="@/assets/scripts/main.ts" type="module"></script>
    <slot name="head" />
  </head>
  <body>
    <div class="h-screen">
      <header>
        <h1>Halo</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </header>
      <slot />
      <footer>Copyright © 2026 Halo. All rights reserved.</footer>
    </div>
  </body>
</html>
