<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="|${post.spec.title} - ${site.title}|"></title>

    <script type="module" crossorigin src="/themes/theme-example/assets/post-ByYqwLAA.js"></script>
    <link rel="modulepreload" crossorigin href="/themes/theme-example/assets/main-pNeVLsU7.js" />
    <link rel="stylesheet" crossorigin href="/themes/theme-example/assets/main-CsAiyBEN.css" />
  </head>
  <body>
    <div class="h-screen">
      <header>
        <h1>Halo</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <h1 class="text-2xl font-bold" th:text="${post.spec.title}"></h1>
        <div th:utext="${post.content.content}"></div>
      </main>

      <footer>Copyright © 2026 Halo. All rights reserved.</footer>
    </div>
  </body>
</html>
